/*--------------------------------------------------------------------------------*/
/*                            Configuraciones Generales                           */
/*--------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&family=Quantico:wght@700&family=Shadows+Into+Light&display=swap&family=Carter+One&display=swap&family=Josefin+Sans&display=swap');

* {
    margin: 0px;
}

/*--------------------------------------------------------------------------------*/
/*                            Etiquetas Semánticas                                */
/*--------------------------------------------------------------------------------*/

.nav-container {
    display: inline-flex;
    text-transform: uppercase;
    font-family: 'Carter One', cursive;
    position: absolute;
    bottom: 15%;
    right: 2%;
    z-index: 20;
}

.header {
    background-color: rgb(255, 79, 97);
    background: linear-gradient(180deg, rgba(255, 79, 97, 1) 0%, rgba(255, 79, 97, 0.84) 65%, rgba(255, 203, 58, 1) 100%);
    position: relative;
}

.header-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0%;
}

.header-shadow {
    text-shadow: rgba(255, 03, 58, 0.7) 0.2em 0.2em;
    box-sizing: border-box;
    margin: 5px;
}

.hearder-menu-option {
    color: black;
    font-size: 1.3em;
}

.hearder-menu-option:hover {
    color: white;
}

.hearder-menu a {
    text-decoration: none;

}

.hearder-menu:hover {
    transform: translateY(-5px) scale(1.2, 1.2) rotate(-10deg);
}

.header-title {
    margin-top: -20px;
    font-family: 'Carter One';
    font-size: 5em;
    text-align: center;
    color: rgb(255, 255, 226);
}

.header-image {
    display: inline;
    position: absolute;
}

.header-image-item {
    width: 100%;
}

#menu-bar {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    display: none;
    position: absolute;
    bottom: 0%;
    right: 4%;
    z-index: 30;
}

#menu-check {
    display: none;
    position: absolute;
    right: 4%;
    bottom: 0%;
    z-index: 30;
}

.top-section {
    background-color: #FFCB3A;
    background: linear-gradient(180deg, rgba(255, 203, 58, 1) 0%, rgba(255, 203, 58, 0.85) 30%, rgba(81, 29, 71, 1) 100%);
    text-align: center;
}

#top-section-carrousel {
    width: 90vw;
    height: 38vh;
    margin: 1vh auto;
    z-index: 10;
}

.cube-full {
    transform-style: preserve-3d;
    transition: 5s ease-in;
    animation: rotarCubo 60s infinite ease-in-out;
}

.cube-full div {
    position: absolute;
}

.carrousel-side-size {
    width: 90vw;
    height: 38vh;
    overflow: hidden;
}

.carrousel-side1 {
    transform: translateZ(45vw);
}

.carrousel-side2 {
    transform: rotateY(180deg) translateZ(45vw);
}

.carrousel-side3 {
    transform: rotateY(90deg) translateZ(45vw);
}

.carrousel-side4 {
    transform: rotateY(-90deg) translateZ(45vw);
}

#top-section-carrousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-content {
    background-color: #511D47;
    font-family: 'Josefin Sans';
}

.right-side {
    background-color: #511D47;
    font-family: 'Josefin Sans';
}

.aside-parent {
    width: 100%;
    height: 100%;
    /* border: 2px dashed white; */
}

.aside-map {
    width: 98%;
    height: 98%;
    margin-right: 0%;
    /* margin-left: 5%; */
    margin-top: 2%;
}

.footer {
    background-color: #1E2425;
    color: white;
    font-family: 'Josefin Sans';
}

.footer-parent {
    padding: 1%;
    background: linear-gradient(180deg, rgba(81, 29, 71, 1) 0%, rgba(30, 36, 37, 1) 10%);
}

.footer-child {
    width: 16.7vw;
    min-width: 205px;
}

.footer-flex-row {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 3vw;
}

.footer-flex-column {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-main-child {
    row-gap: 15px;
}

#footer-second-child {
    align-items: baseline;
}

#footer-social-nw-container {
    width: 66.66%;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 1.5vw;
}

.footer-ul {
    /*Remover la viñeta*/
    list-style-type: none;
    /*Quitar margenes de la lista*/
    margin: 0px;
    padding: 0px;
}

.footer-ul li {
    margin: 12.5px 0px 12.5px 0px;
}

.footer-ul li:nth-child(odd) {
    /* color: rgba(255,79,97,1); */
    color: rgba(255, 203, 58, 1);
    /* color: #4cdde9; */
}

.footer-ul h3 {
    font-size: 1.4em;
}

.footer-flex-row a {
    /* color:#4cdde9; */
    /* color: rgba(255,79,97,1); */
    color: rgba(255, 203, 58, 1);
}

.footer-flex-row a:hover {
    text-shadow: gray 0.2em 0em;
    font-size: 1.5em;
}


/*--------------------------------------------------------------------------------*/
/* Página: Actividades.html                                                       */
/*--------------------------------------------------------------------------------*/
.width-100 {
    width: 100vw;
}

.width-50 {
    width: 50vw;
}

.width-33 {
    width: 30vw;
}

.inline-container {
    display: inline-block;
    position: relative;
    height: 20vh;
}

.actividades-top-section {
    position: relative;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(rgba(81, 29, 71, 0.6),
            rgba(81, 29, 71, 0.6)),
        url('../imgs/actividades-top-section-yoga-class-1920-1280.jpg');
    background-repeat: no-repeat;
    background-position: 30% 62%;
}

.actividades-main-phrase {
    width: 100%;
    position: relative;
    top: 45%;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 4em;
    font-weight: bolder;
    color: rgba(255, 203, 58, 1);
    text-shadow: -2px 3px black;
}

.actividades-titles {
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans';
    color: rgba(255, 203, 58, 1);
    text-shadow: -2px 3px black;
}

#actividades-nuestras-act {
    font-size: 2em;
    position: relative;
    top: 36%;
}

.actividades-main-phrase:hover {
    animation: heartBeat;
    /* https://animate.style/ | referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

.activities-parent {
    column-gap: 1vw;
    /* width: 100vw; */
}

.separator {
    border: 2px solid rgba(255, 203, 58, 1);
    position: relative;
    top: 45%;
}

.tile {
    /* border: 2px dotted black; */
    width: 23vw;
    height: 28vh;
    min-width: 420px;
    min-height: 260px;
    position: relative;
    overflow: hidden;
}

.tile-title {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 40%;
    color: rgba(255, 203, 58, 1);
    font-family: 'Josefin Sans';
    text-shadow: -2px 3px black;
    z-index: 50;
}

.tile-layer {
    background-color: rgba(81, 29, 71, 0%);
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    z-index: 30;

    transition-property: transform background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.tile:hover h1 {
    animation: heartBeat;
    /* https://animate.style/ | referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

.tile:hover .tile-layer {
    transform: scaleY(10);
    background-color: rgba(81, 29, 71, 70%);
}

#tile-crossfit {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5)),
        url('../imgs/Crossfit-480-320.jpg');
    background-repeat: no-repeat;
}


#tile-gym {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)),
        url('../imgs/Equipamiento-480-320.jpg');
    background-repeat: no-repeat;
}



#tile-yoga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)),
        url('../imgs/Yoga-480-320.jpg');
    background-repeat: no-repeat;
}

#tile-zumba {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)),
        url('../imgs/Zumba-480-320.jpg');
    background-repeat: no-repeat;
}

/*--------------------------------------------------------------------------------*/
/* Página: Contacto.html                                                       */
/*--------------------------------------------------------------------------------*/

#contacto-top-section-img {
    background-image: linear-gradient(rgba(81, 29, 71, 0.6),
            rgba(81, 29, 71, 0.6)),
        url('../imgs/contact-top-section-1920.jpg');
}


.contacto-form-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    border: 1px solid rgba(255, 203, 58, 1);
    padding: 10px;

}

.contacto-form-item-x2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contacto-form-item {
    width: 99%;
}

.contacto-form-field {
    font-family: "Josefin Sans";
    font-size: 1.5em;
    color: white;
    background-color: rgba(81, 29, 71, 1);
    border: 1px solid rgba(255, 203, 58, 1);
    width: 99%;
}

.contacto-container {
    width: 100%;
    column-gap: 10px;
}

.contacto-container>div,
form {
    width: 35%;
    /* border: 1px solid white; */
    /* position: relative; */
    min-width: 300px;
}

.contacto-ul {
    /*Remover la viñeta*/
    list-style-type: none;
    /*Quitar margenes de la lista*/
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 30%;
    left: 10%;
}

.contacto-ul li {
    margin: 3%;
    font-size: 1.2em;
    color: rgba(255, 203, 58, 1);
}

.contacto-ul h2 {
    color: rgba(255, 79, 97, 1);
    text-shadow: gray -2px 1px;
}

/*--------------------------------------------------------------------------------*/
/* Página: Nosotros.html                                                          */
/*--------------------------------------------------------------------------------*/

.about-us-picture-container {
    background-image: linear-gradient(rgba(81, 29, 71, 0.3),
    rgba(81, 29, 71, 0.6)),
url('../imgs/kyras-team-672.jpg');
min-height: 448px;
min-width: 672px !important;
}

.about-us-text{
    font-size: 1.2em;
    color: rgba(255, 203, 58, 1);
}

#nosotros-top-section-img {
    background-image: linear-gradient(rgba(81, 29, 71, 0.6),
            rgba(81, 29, 71, 0.6)),
        url('../imgs/kyras-gym-local-1920.jpg');        
}

#about-us-main-phrase:hover {
    animation: tada;
    /* https://animate.style/ | referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}



/*--------------------------------------------------------------------------------*/
/*                            Sección Animaciones                                 */
/*--------------------------------------------------------------------------------*/
@keyframes rotarCubo {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    15% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    25% {
        transform: rotateY(-90deg) rotateX(0deg);
    }

    40% {
        transform: rotateY(-90deg) rotateX(0deg);
    }

    50% {
        transform: rotateY(-180deg) rotateX(0deg);
    }

    65% {
        transform: rotateY(-180deg) rotateX(0deg);
    }

    75% {
        transform: rotateY(-270deg) rotateX(0deg);
    }

    90% {
        transform: rotateY(-270deg) rotateX(0deg);
    }

    100% {
        transform: rotateY(-360deg) rotateX(0deg);
    }
}

/*--------------------------------------------------------------------------------*/
/*                            Sección Configuración Grid                          */
/*--------------------------------------------------------------------------------*/

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: auto 40vh 50% auto / 20% 60% 20%;
    grid-template-areas: "header header header""top-section top-section top-section""main-content main-content right-side""footer footer footer";
}

#grid-actividades {
    grid-template: auto 50vh auto auto / 20% 60% 20%;
    grid-template-areas: "header header header""top-section top-section top-section""main-content main-content main-content""footer footer footer";
}

#grid-contacto {
    grid-template: auto 50vh auto auto / 20% 60% 20%;
    grid-template-areas: "header header header""top-section top-section top-section""main-content main-content main-content""footer footer footer";
}

.grid-form {
    width: 80;
}

.grid-header {
    grid-area: header;
}

.grid-nav {
    grid-area: nav-container;
}

.grid-footer {
    grid-area: footer;
}

.grid-main-content {
    grid-area: main-content;
}

.grid-top-section {
    grid-area: top-section;
}

.grid-right-side {
    grid-area: right-side;
}



/*--------------------------------------------------------------------------------*/
/*                            Sección mediaqueries                                */
/*--------------------------------------------------------------------------------*/


@media only screen and (max-width: 1400px) {

    .grid-container {
        grid-template: auto auto auto 50% auto / 20% 60% 20%;
        grid-template-areas: "header header header""nav-container nav-container nav-container""top-section top-section top-section""main-content main-content right-side""footer footer footer";
    }

    .hearder-menu:hover {
        transform: translateY(8px) scale(1.2, 1.2);
    }

    .nav-container {
        display: flex;
        justify-content: center;
        position: static;
        margin-top: -14px;
        right: 0%;
    }

    .header-title {
        font-size: 4.1em;
    }

    #top-section-carrousel {
        width: 90vw;
        height: 28vh;
        margin: 1vh auto;
    }

    .carrousel-side-size {
        width: 90vw;
        height: 28vh;
        overflow: hidden;
    }

    .actividades-main-phrase {
        font-size: 3em;
        text-shadow: -1px 1.5px black;
    }

    .contacto-container>div,
    form {
        width: 80vw;
        max-width: 400px;
    }

    .contacto-container>div {
        margin-bottom: 5vh;
    }

    .contacto-ul li {
        margin: 1%;
        font-size: 1em;
        color: rgba(255, 203, 58, 1);
        /* text-align: center; */
    }

    .contacto-ul h2 {
        color: rgba(255, 79, 97, 1);
        text-shadow: gray -2px 1px;
    }

    .actividades-top-section {
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/actividades-top-section-yoga-class-1400.jpg');
    }

    #contacto-top-section-img {
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/contact-top-section-1400.jpg');
    }

    #nosotros-top-section-img {
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/kyras-gym-local-1400.jpg');
    }

}

@media only screen and (max-width: 800px) {

    .grid-container {
        grid-template: auto auto 20vh 1fr 15% 20% / 100%;
        grid-template-areas: "header""nav-container""top-section""main-content""right-side""footer";
    }

    .hearder-menu-option {
        font-size: 1.1em;
    }

    .header-image-item {
        width: 75%;
    }

    #top-section-carrousel {
        width: 90vw;
        height: 18vh;
        margin: 1vh auto;
    }

    .carrousel-side-size {
        width: 90vw;
        height: 18vh;
        overflow: hidden;
    }

    .actividades-main-phrase {

        font-size: 2em;
        text-shadow: -1px 1.5px black;
    }

    .width-33 {
        width: 80vw;
    }

    .inline-container {
        height: 5vh;
    }

    #actividades-nuestras-act {
        top: 0%;
    }

    .contacto-ul {
        top: 0%;
        left: 0%;
    }

    .contacto-ul li {
        margin: 1%;
        font-size: 1em;
        color: rgba(255, 203, 58, 1);
        text-align: center;
    }

    .contacto-container>div,
    form {
        min-width: 400px;
    }

    .actividades-top-section {
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/actividades-top-section-yoga-class-800.jpg');
    }

    #contacto-top-section-img {
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/contact-top-section-800.jpg');
    }

    #nosotros-top-section-img {
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/kyras-gym-local-800.jpg');
    }

}

@media only screen and (max-width: 490px) {

    .width-33 {
        width: 80vw;
    }

    .hearder-menu-option {
        font-size: 1em;
    }

    .header-title {
        font-size: 3.5em;
    }

    .header-image-item {
        display: none;
    }

    .footer-child {
        width: 80%;
    }

    #footer-second-child {
        align-items: center;
    }

    #footer-social-nw-container {
        width: 57.75%;
        justify-content: space-around;
        column-gap: 1.5vw;
    }

    .hearder-menu:hover {
        transform: translateY(0px);
    }

    #menu-bar {
        display: block;
    }

    #menu-check:not(:checked)~nav {
        display: none;
    }

    #menu-check:checked~nav {
        display: block;
    }

    #menu-check:checked~#menu-bar {
        color: rgb(0, 0, 0);
    }

    #menu-bar:hover {
        color: rgb(255, 255, 255);
    }

    .nav-container {
        position: absolute;
        top: 115%;
        right: 4%;
        height: fit-content;
        border-radius: 15%;
        background: linear-gradient(180deg, rgba(255, 79, 97, 0.8) 0%, rgba(255, 79, 97, 0.8) 65%, rgba(255, 203, 58, 0.8) 100%);
    }

    .nav-container ul {
        display: block;
    }

    .actividades-main-phrase {

        font-size: 1.5em;
        text-shadow: -1px 1px black;
    }

    .inline-container {
        height: 3vh;
    }

    #actividades-nuestras-act {
        top: -35%;
    }

    #grid-actividades {
        grid-template: auto 30vh auto auto / 20% 60% 20%;
        grid-template-areas: "header header header""top-section top-section top-section""main-content main-content main-content""footer footer footer";
    }

    #grid-contacto {
        grid-template: auto 30vh auto auto / 20% 60% 20%;
        grid-template-areas: "header header header""top-section top-section top-section""main-content main-content main-content""footer footer footer";
    }

    .actividades-top-section {
        height: 100%;
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/actividades-top-section-yoga-class-490.jpg');
    }

    #contacto-top-section-img {
        height: 100%;
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/contact-top-section-490.jpg');
    }

    #nosotros-top-section-img {
        background-image: linear-gradient(rgba(81, 29, 71, 0.6),
                rgba(81, 29, 71, 0.6)),
            url('../imgs/kyras-gym-local-490.jpg');

    }

    .about-us-picture-container {
        background-image: linear-gradient(rgba(81, 29, 71, 0.3),
        rgba(81, 29, 71, 0.6)),
    url('../imgs/kyras-team-470.jpg');
        min-height: 313px;
        min-width: 470px;
        background-repeat: no-repeat;
    }
}